<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ksinfo">

    <application
        android:allowBackup="true"
        android:name=".GlobalApplication"
        android:icon="@mipmap/ic_launcher3_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher3_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ScheduleActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ProfileActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".NotificationsActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ChangesActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ClubListActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".MyClubsActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".MyDocumentsActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".MyNotesActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".OrderNotesActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".QuestionsActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".StudentCouncilActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".PsychologistActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".MessagesActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".SettingsActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".SendMessageActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".MessageDescriptionActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ClubDescriptionActivity" android:theme="@style/AppTheme"/>
    </application>

</manifest>